@import "../base";

#page-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 1400px;
    margin-top: 25px;

    #container {
        width: calc(1400px - 300px);
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;

        padding-bottom: 250px;

        #server-preview {
            width: 100%;

            display: flex;
            align-items: center;
            gap: 10px;

            .logo {
                background-color: $color-dark;

                width: 120px;
                height: 120px;

                overflow: hidden;
                border-radius: 10px;

                display: flex;
                justify-content: center;
                align-items: center;

                flex-shrink: 0;
                img {
                    width: 80px;
                    height: 80px;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }

            .middle-panel {
                flex-grow: 1;

                display: flex;
                flex-direction: column;
                justify-content: center;

                .address-value {
                    font-size: 1.2em;
                    font-weight: 800;
                }

                .motd {
                    display: flex;
                    align-items: center;
                }

                .tag-container {
                    margin-top: 10px;
                    display: flex;
                    gap: 10px;
                    font-size: 0.9em;

                    .tag {
                        display: flex;
                        gap: 8px;

                        background-color: #ffffff1a;
                        width: fit-content;

                        padding: 3px 10px;
                        border-radius: 15px;
                    }
                }
            }

            .statistic-container {
                flex-shrink: 0;

                display: flex;
                gap: 20px;

                .statistic {
                    width: 120px;
                    height: 120px;
                    background-color: $color-dark;
                    border-radius: 10px;

                    display: flex;
                    flex-direction: column;

                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        font-size: 2.2em;
                    }
                }
            }
        }

        #main-container {
            .header{
                font-size: 2em;
                text-align: center;
                padding: 30px 0;
            }

            #option-container{
                display: flex;
                gap: 20px;

                .option{
                    width: calc(50% - 10px);
                    flex-shrink: 0;
                    background-color: $color-dark;
                    padding: 20px;
                    border-radius: 20px;
    
                    .number{
                        padding: 50px;
                        background-color: $color-dark;
                        width: fit-content;
                        font-size: 3em;
                        border-radius: 20px;
                        border: 2px solid $color-white;
                    }
    
                    .title{
                        font-weight: 500;
                        text-align: center;
                        margin-top: 10px;
                        font-size: 1.3em;
                    }
    
                    .info{
                        margin-top: 15px;
    
                        .key{
                            background-color: $color-dark;
                            padding: 3px 10px;
                            margin: 3px 0;
                            display: block;
                            border: 1px solid $color-white;
                        }
    
                        .button{
                            background-color: $color-theme;
                            padding: 10px 30px;
                            width: fit-content;
                            margin-top: 5px;
                            border-radius: 5px;
                            font-weight: 800;
                        }
    
                        .button:hover{
                            cursor: pointer;
                            background-color: $color-theme-dark;
                        }
                    }
                }
            }  

            .response{
                margin-top: 20px;
            }
        }
    }

    @media (max-width: 1450px) {
        width: 100%;
    }
}