<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<body>
    <header th:fragment="headerFragment">
        <div class="wrapper">
            <div class="left-panel">
                <a href="/">
                    <div class="logo">
                    
                    </div>
                </a>
                <nav class="button-container">
                    <ul>
                        <a href="/add-new-server"><li class="add-server-button">Dodaj serwer</li></a>
                        <a href="/banners"><li class="buy-banner-button">Zakup Baner</li></a>
                        <li>Widżety</li>
                        <li>Nowe Edycje</li>
                    </ul>
                </nav>
            </div>
            <div class="right-panel">
                <div class="user-logged-in" th:if="${user!=null}">
                    <span th:text="${user.login}"></span>
                </div>
                <div class="user-not-logged-in">
                    <a href="/auth/signIn" class="sign-in" th:if="${user==null}">
                        Logowanie
                    </a>
                </div>
            </div>
        </div>
        <div class="divider-line-horizontal"></div>
    </header>
</body>
</html>