<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<body>
    <div th:fragment="menuFragment">
        <div id="aside-menu">
            <a th:href="'/server/' + ${server.id} + '/manage/info'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).MODERATOR.value}"><li>Podstawowe informacje</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/description'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).HELPER.value}"><li>Opis serwera</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/banner'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).MODERATOR.value}"><li>Baner</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/subserver'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).MODERATOR.value}"><li>Tryby</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/link'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).MODERATOR.value}"><li>Linki</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/staff'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).HELPER.value}"><li>Administracja</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/role'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).ADMINISTRATOR.value}"><li>Uprawnienia</li></a>
            <a th:href="'/server/' + ${server.id} + '/manage/delete'" th:if="${role != null and role.value >= T(com.coresaken.mcserverlist.database.model.server.ServerUserRole.Role).OWNER.value}"><li>Usuń serwer</li></a>
        </div>
    </div>
</body>
</html>